{{ form_start(form) }}
    <h2 id="add" > <i class="fas fa-plus-circle add"></i></h2>
    <div class="form-group col-sm-12 col-md-6 hidden">
        {{ form_label(form.picture)}}
        {{ form_widget(form.picture)}}
    </div>

    {% if app.request.attributes.get('_route') == 'picture_new_ad' %}
            <h5 class="title-form"> Ajouter une image </h5>
            <p class="info-form">(minimum 5 photos)</p>
            {% for picture  in newAd.pictures %}
              <div class="img-add">
                <img src="{{ asset('/uploads/'~picture.name) }}" alt="" width="150">
                {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
                <a href="{{ path('ad_picture_delete', {id: picture.id})}}" data-delete data-token="{{ csrf_token('delete' ~ picture.id )}}">Supprimer</a>
            </div>       
            {% endfor %}
        {% endif %}
    
    <button id="add1" class="btn hidden"> <i class="fas fa-plus-circle add"></i></button>
    <div class="validate">
        <a href="{{ path ('home') }}"><i class="fas fa-home add"></i>Valider l'annonce</a>
    </div>
{{ form_end(form) }}

{% block javascripts %}

    <script src= "{{asset('js/delete-picture.js')}}"></script>    
    <script src= "{{asset('js/add-picture.js')}}"></script>  
   
{% endblock %}
