
{% extends 'front/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div id="main-div">
        <div id="main-div-form" class="container" >
        <form action="{{ path ('ad_search') }}" method="GET">

            <div class="form-group text-center">
            {#
             <input type="number" name='distance' value='distance'>distance
            #}
                <h3 class="homeForm">Recherche rapide</h3>
                <div class="btn-group btn-group-toggle col-md-12 homeForm" data-toggle="buttons">
                    <label class="btn btn-danger col-md-6">
                        <input type="radio" name="adType" autocomplete="off" value="vente"> Achat
                    </label>
                    <label class="btn btn-danger active col-md-6">
                        <input type="radio" name="adType" autocomplete="off" value="location" checked> Location
                    </label>
                </div>

                <div class="btn-group btn-group-toggle col-md-12 homeForm" data-toggle="buttons">
                    <label class="btn btn-danger  col-md-6 ">
                        <input type="radio" name="adHouseType" autocomplete="off" value="Appartement"> Appartement
                    </label>
                    <label class="btn btn-danger active col-md-6">
                        <input type="radio" name="adHouseType" autocomplete="off" value="Maison" checked> Maison
                    </label>
                </div>


                <div class="form-row homeForm" >
                    <div class="col">
                    <input type="number" class="form-control" placeholder="prix minimum" name="minPrice" >
                    </div>
                    <div class="col">
                    <input type="number" class="form-control" placeholder="Prix maximum" name="maxPrice" >
                    </div>
                </div>

                <select class="form-control selectpicker homeForm" id="select-city" data-live-search="true" name="city" required >
                       <option value="" disabled selected>Choisir une ville</option>
                </select>
                 <button type="submit" class="btn btn-danger homeForm">Rechercher</button>

            </div>
        </form>
        </div>
    </div>
    
    <div class="container">
    <h3 class="ad-h3-home" >Dernières annonces</h3>
    <hr class="ad-hr-home">
        {% for ad in ads %}  
            <a class="link-full-ad" href="{{ path('ad_show', {'id': ad.id}) }}">
                <div class="card ">
                    <img class="card-img-top "  src="{{ asset('/uploads/'~ad.pictures[0].name)  }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ad.houseType.name~' '}}<span class="sep" >&#x2022;</span>{{' '~ad.piecesNumber~' pièce(s) '}}<span class="sep" >&#x2022;</span>{{' '~ad.surface~'m²'}}</h5>
                                <p class="card-text">{{ad.price~'€'}}{% if ad.adType == 'location' %}/mois{% endif %}</p>
                                <p class="card-text">{{ad.city.name}}</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{ad.shortContent}}</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </a>
        {% endfor %}
    </div>

{% endblock %}


{% block javascript %}

{% endblock %}
{#
{{ad.createdAt|date('Y-m-d')}}
  <div class="w-100"></div>

  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
</div>
#}

