{% extends 'front/layout.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <div class="container">
      
        <h3 class="ad-h3-home" >Espace {{user.pseudo}}</h3>
        <hr class="ad-hr-home">
        <div id="privateSpace">
            <img class="profilPicture"  src="{{ asset('/img/arthur.jpeg')  }}" alt="Card image cap">

            <p>Email : {{user.email}}</p>
            <p>Téléphone : +33{{user.phone}}</p>
            <a href="{{ path('app_forgot_password_request') }}">Changer mot de passe</a>

            <a href="{{ path('user_edit') }}">Modifier profil</a>

            {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
