
{% extends 'front/layout.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
  
    
    <div class="container">
    <h3 class="ad-h3-home" >Vos annonces</h3>
    <hr class="ad-hr-home">
        <h4 class="ad-h3-home" >Annonce(s) en ligne</h4>
        <hr class="ad-hr-home">
        {% for ad in ads %}
            {% if ad.published != 0 %}
            <a class="link-full-ad" href="{{ path('ad_show', {'id': ad.id}) }}">
                <div class="card ">
                    <img class="card-img-top "  src="{{ asset('/uploads/'~ad.pictures[0].name)  }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ad.houseType.name~' '}}<span class="sep" >&#x2022;</span>{{' '~ad.piecesNumber~' pièce(s) '}}<span class="sep" >&#x2022;</span>{{' '~ad.surface~'m²'}}</h5>
                                <p class="card-text">{{ad.price~'€'}}{% if ad.adType == 'location' %}/mois{% endif %}</p>
                                <p class="card-text">{{ad.city.name}}</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{ad.shortContent}}</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </a>
            <a href="{{ path('ad_edit', {'id': ad.id}) }}"class="btn btn-primary">Modification principale</a>
            <a href="{{ path('ad_supplement_edit', {'id': ad.supplement.id}) }}"class="btn btn-primary ">Modification secondaire</a>
            <a href="{{ path('picture_new_ad', {'id': ad.id}) }}"class="btn btn-primary ">Modification photo</a>
            <form method="post" action="{{ path('ad_delete', {'id': ad.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer votre annonce??');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
                <button class="btn btn-primary">Delete</button>
            </form>

            {% endif %}
        {% endfor %}
        <h4 class="ad-h3-home" >Annonce(s) en attente de validation </h4>
        <hr class="ad-hr-home">
        {% for ad in ads %}
            {% if ad.published ==0 %} 
            <a class="link-full-ad" href="{{ path('ad_show', {'id': ad.id}) }}">
                <div class="card ">
                    <img class="card-img-top "  src="{{ asset('/uploads/'~ad.pictures[0].name)  }}" alt="Card image cap">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h5 class="card-title">{{ad.houseType.name~' '}}<span class="sep" >&#x2022;</span>{{' '~ad.piecesNumber~' pièce(s) '}}<span class="sep" >&#x2022;</span>{{' '~ad.surface~'m²'}}</h5>
                                <p class="card-text">{{ad.price~'€'}}{% if ad.adType == 'location' %}/mois{% endif %}</p>
                                <p class="card-text">{{ad.city.name}}</p>
                            </div>
                            <div class="col">
                                <p class="card-text">{{ad.shortContent}}</p>
                            </div>
                        </div>
                    </div>  
                </div>
            </a>
             <a href="{{ path('ad_edit', {'id': ad.id}) }}"class="btn btn-primary">Modification principale</a>
             <a href="{{ path('ad_supplement_edit', {'id': ad.supplement.id}) }}"class="btn btn-primary ">Modification secondaire</a>
             <a href="{{ path('picture_new_ad', {'id': ad.id}) }}"class="btn btn-primary ">Modification photo</a>
             <form method="post" action="{{ path('ad_delete', {'id': ad.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer votre annonce?');">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ ad.id) }}">
                <button class="btn btn-primary">Delete</button>
            </form>

            {% endif %}
        {% endfor %}
    </div>

{% endblock %}


{% block javascript %}

{% endblock %}
{#
{{ad.createdAt|date('Y-m-d')}}
  <div class="w-100"></div>

  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
  <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
</div>
#}

